body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  color: #fff;
  background: #65afff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 0.5rem;
}
.cryptos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.empty-cryptos {
  text-align: center;
  font-size: 2rem;
}

.chevron-left {
  cursor: pointer;
}
